body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: #8fc1eb;;
  text-align: center;
  
}

:link {
  color: aquamarine;
  text-decoration: none;
  font-size: xx-large;
}
:visited {
  color:  aquamarine;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  border: 10px solid rgba(104, 78, 98, 0.795);
  border-radius: 20px;
  width: 50%; 
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

input, textarea {
  background-color: rgb(8, 37, 28);
  color: aquamarine;  
}

p {
  font-family: "Monaco", monospace;
  font-size: large;
}